<%- model_class = Retro.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:team_id) %></th>
      <th><%= model_class.human_attribute_name(:sprint) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @retros.each do |retro| %>
      <tr>
        <td><%= link_to retro.team.name, retro %></td>
        <td><%= retro.sprint %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_retro_path(retro), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      retro_path(retro),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_retro_path,
            :class => 'btn btn-primary' %>
